@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-main: #393939;
  --primary-dark: #232323;
  --primary-light: #646464;
  --contrast-light: #bbbbbb;
  --contrast: #e0e0e0;
  --secondary-main: #64d6e7;
  --secondary-dark: #3dafc0;
  --secondary-saturated: #00ddff;
  --alert-main: #d9de78;
  --danger-main: #e68d9e;

  --spacing2: 2px;
  --spacing4: 4px;
  --spacing8: 8px;
  --spacing16: 16px;
  --spacing32: 32px;

  --caption: 14px;
  --text: 20px;
  --textTitle: 32px;
  --pageTitle: 48px;
  --heroText: 72px;
}

[theme='light'] {
  --secondary-main: #393939;
  --secondary-dark: #232323;
  --secondary-light: #646464;
  --contrast: #e0e0e0;
  --contrast-light: #bbbbbb;
  --primary-main: #64d6e7;
  --primary-dark: #3dafc0;
  --alert-main: #d9de78;
  --danger-main: #e68d9e;
}

@media (prefers-color-scheme: light) {
  :root {
    --contrast: #393939;
    --contrast-dark: #232323;
    --primary-light: #646464;
    --primary-main: #bbbbbb;
    --secondary-main: #64d6e7;
    --secondary-dark: #3dafc0;
    --alert-main: #d9de78;
    --danger-main: #e68d9e;
  }
}

@font-face {
  font-family: hubballi;
  src: url('./assets/Hubballi/Hubballi-Regular.ttf');
}

body {
  min-height: 100vh;
  margin: 0px;
  color: var(--contrast);
  background-color: var(--primary-main);
  line-height: 1.6;
  font-family: hubballi;
}

.centered {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
